# Web Scraping
selenium==4.18.1
webdriver-manager==4.0.1

# Data Processing
pandas==2.2.1
openpyxl==3.1.2

# Build Tools
pyinstaller==6.4.0

# Package versions are stable releases as of March 2024 